body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;                  
  grid-template-rows: auto 1fr auto;           
  min-height: 100vh;                          
}

/* ===== HEADER ===== */
.logo img {
  width: 100px;
  height: auto; 
}
.header {
  background: lightblue;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  height: 200px;
}

.logo { 
  grid-area: 1 / 1 / 3 / 3; 
  /* background: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#homelogo img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

#homelogo:hover img {
  opacity: 0.8; 
  transform: scale(1.05); 
  transition: 0.3s ease;
}


.search { 
  grid-area: 1 / 3 / 2 / 6; 
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu { 
  grid-area: 2 / 3 / 3 / 6; 
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login { 
  grid-area: 2 / 6 / 3 / 8; 
  background: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== BODY ===== */
.body {
  background: white;
  padding: 20px;
}

/* ===== FOOTER ===== */
.footer {
  background: lightgray;
  padding: 20px;
  height: 200px;
}
